<h1>See below for user details: </h2>

Name: <%= @user.name %><br>
Mood: <%= @user.mood %>
Nausea: <%= @user.nausea %><br>
Happiness: <%= @user.happiness %><br>
Tickets: <%= @user.tickets %><br>
Height: <%= @user.height %><br>
Password: <%= @user.password %><br>